.footer {
  width: 100%;
  background-color: #032541;
  margin-top: 30px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 825px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.footer-content {
  margin: 1em 0;
  width: 152px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  height: 94px;
  margin: 1em 0;
}

.logged_in {
  background-color: #fff;
  color: #01b4e4;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear .1s;
}

.logged_in:hover {
  color: #01b4e4;
  cursor: pointer;
}

.footer-heading {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  margin: 0 0 4px 0;
}

.footer-list {
  list-style-type: none;
}

.footer-list ul li {
  line-height: 1.6em;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.footer-list a {
  color: #fff;
  font-size: 1.2em;
}

.footer-list li {
  margin: 10px 0;
}

.join {
  justify-content: space-between;
  width: 176px;
  align-items: flex-end;
  margin-right: 40px;
}

.rs {
  margin-right: 1em !important;
}

@media screen and (max-width:824px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer-content {
    margin: 0.5em;
  }
  .join {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width:384px) {
  .footer {
    padding: 0;
  }
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .footer-content {
    margin: 0.5em;
  }
  .join {
    grid-column-end: 1;
    align-items: center;
  }
}
