.film-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 206px;
  height: 410px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.2em;
  /* margin: 30px 0 0 30px; */
}

.film-image {
  width: 100%;
  height: 312px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #dbdbdb;
}

.film-heading {
  width: 90%;
  display: flex;
  align-items: center;
  height: 98px;
  background-color: white;

}
