.movie-bg {
  height: 570px;
  border-bottom: 1px solid black;
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-bg__filter {
  background-image: linear-gradient(to right, rgba(5.88%, 3.92%, 3.14%, 1.00), rgba(5.88%, 3.92%, 3.14%, 0.84) 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: inherit;
  color: #fff;
  padding: 30px 40px;
}

.movie-title {
  font-size: 35px;
  font-weight: bold;
}

.facts {
  font-size: 16px;
  font-weight: normal;
}

.actions {
  width: 100%;
  margin-bottom: 20px;
}

.movie-year {
  opacity: 0.8;
  font-weight: normal;
}

.overview {
  font-size: 16px;
}

.movie-poster {
  width: 300px;
  height: 450px;
  border-radius: 8px;
}

.movie_inform__column {
  padding-left: 40px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 950px;
}

.movie_inform-voting {
  width: 60px;
  height: 60px;
  border-radius: 75%;
  background-color: #081c22;
  color: #e5e7e8;
  border: 5px solid;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2rem;
}

.movie-content__wrapper {
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
}

.movieActors {
  background-color: #fff;
  max-width: 960px;
  width: calc(100vw - 80px - 260px);
  display: flex;
  height: 292px;
  flex: 0 1 auto;
  padding-right: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
  color: #000;
}

.movie-cast-scroller {
  list-style-type: none;
  list-style-position: inside;
  width: 100%;
  height: 292px;
}

.movie_inform-like:hover, .movie_inform-mark:hover, .movie_inform-star:hover {
  cursor: pointer;
  filter: invert(100%);
}

.user-score {
  display: flex;
  flex-direction: row;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.movie_inform-vote {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.list-scroller {
  display: flex;
  flex-direction: row;
  height: 292px;
}

.movieInform-name {
  padding: 10px 10px 0 10px;
  font-weight: bold;
  color: #000;
  font-size: 15px;
  text-overflow: unset;
  word-break: break-all;
  width: 138px;
}

.movieInform-character {
  padding: 0px 10px;
  color: #000;
  font-size: 12px;
}

.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  width: 100%;
  margin: 0 0 8px 0;
}

.person-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  border: 1px solid rgba(227, 227, 227, 1);
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-right: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.person-image-container {
  height: 185px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.white__column {
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

.grey__column {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
}

.reviews-container {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 220px;
  padding: 20px;
  overflow-y: scroll;
}

.review-user__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trailers {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}

.movieRecommendations {
  background-color: #fff;
  max-width: 960px;
  width: calc(100vw - 80px - 260px);
  display: flex;
  height: 292px;
  flex: 0 1 auto;
  padding-right: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.recommendation {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  border: 1px solid rgba(227, 227, 227, 1);
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-right: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recommendation-inform {
  height: 185px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
