.movieDetails-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100rem;
}

.movie-bg {
  height: 40.7rem;
  border-bottom: 1px solid black;
  background-position: right -14.3rem top;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
}

.movie-bg__filter {
  background-image: linear-gradient(to right, rgba(5.88%, 3.92%, 3.14%, 1.00), rgba(5.88%, 3.92%, 3.14%, 0.84) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: inherit;
  color: #fff;
  padding: 2.14rem 2.86rem;
}

.movie_inform__column {
  padding-left: 2.86rem;
  height: 32.14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 67.86rem;
}

.movie-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.facts {
  font-size: 1.14rem;
  font-weight: normal;
}

.actions {
  width: 100%;
  margin-bottom: 1.43rem;
}

.movie-year {
  opacity: 0.8;
  font-weight: normal;
}

.overview {
  font-size: 1.14rem;
}

.movie-poster {
  width: 21.43rem;
  height: 32.14rem;
  border-radius: 0.57rem;
}

.movie_inform-voting {
  width: 4.29rem;
  height: 4.29rem;
  border-radius: 75%;
  background-color: #081c22;
  color: #e5e7e8;
  border: 5px solid;
  font-size: 1.43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2rem;
}

.movie-content__wrapper {
  padding: 2.14rem 2.86rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.movieActors {
  background-color: #fff;
  max-width: 68.57rem;
  width: 100%;
  display: flex;
  height: 20.86rem;
  flex: 0 1 auto;
  padding-right: 2.14rem;
  overflow-y: hidden;
  overflow-x: scroll;
  color: #000;
}

.movie-cast-scroller {
  list-style-type: none;
  list-style-position: inside;
  width: 100%;
  height: 20.86rem;
}

.movie_inform-like:hover, .movie_inform-mark:hover, .movie_inform-star:hover {
  cursor: pointer;
}

.split-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-score {
  display: flex;
  flex-direction: row;
  width: 7.86rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.14rem;
  order: 1;
}

.movie_inform-buttons {
  order: 2;
}

.movie_inform-youtube {
  order: 3;
}

.movieDetails-keywords {
  max-width: 18.6rem;
}

.movie_inform-vote {
  display: flex;
  flex-direction: row;
  max-width: 32.86rem;
  justify-content: space-between;
  align-items: center;
}

.review-user {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}

.reviews-heading {
  margin-bottom: 0.71rem;
}

.reviews-column-first {
  margin-right: 0.71rem;
}

.list-scroller {
  display: flex;
  flex-direction: row;
  height: 20.86rem;
}

.movieInform-name {
  padding: 0.71rem 0.71rem 0 0.71rem;
  font-weight: bold;
  color: #000;
  font-size: 1.07rem;
  max-height: 3.57rem;
  overflow: hidden;
  width: 9.86rem;
}

.movieInform-character {
  padding: 0px 0.71rem;
  color: #000;
  font-size: 0.86rem;
}

.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  width: 100%;
  margin: 0 0 8px 0;
}

.person-card {
  margin-top: 0.71rem;
  margin-bottom:  0.71rem;
  margin-left:  0.71rem;
  margin-right: 4px;
  border: 1px solid rgba(227, 227, 227, 1);
  padding-bottom:  0.71rem;
  border-radius: 8px;
  overflow: hidden;
  min-width: 10rem;
  width: 10rem;
  background-color: #fff;
  margin-right:  0.71rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.person-image-container {
  height: 12.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.white__column {
  max-width: 68.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 2;
  padding-top: 1em;
}

.grey__column {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  order: 1;
}

.reviews-container {
  width: 100%;
  padding: 1.43rem;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 15.7rem;
  padding: 1.43rem;
  overflow-y: scroll;
}

.review-user__avatar {
  width: 4.57rem;
  height: 4.57rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trailers {
  width: 100%;
  display: block;
  padding: 2.14rem 0;
  border-top: 1px solid #d7d7d7;
}

.movieRecommendations {
  background-color: #fff;
  max-width: 68.6rem;
  width: 100%;
  display: flex;
  height: 20.86rem;
  flex: 0 1 auto;
  padding-right: 2.14rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.recommendation {
  margin: 0.71rem;
  border: 1px solid rgba(227, 227, 227, 1);
  padding-bottom:  0.71rem;
  border-radius: 8px;
  overflow: hidden;
  min-width: 10rem;
  width: 10rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recommendation-inform {
  height: 13.2rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 1300px) {
  .white__column {
    order: 1;
  }
  .grey__column {
    order: 2;
    max-width: 18.57rem;
  }
  .split-column {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 500px) and (max-width: 799px) {
  .movie-bg {
    height: initial;
  }
  .movie-bg__filter {
    flex-direction: column;
  }
  .movie_inform__column {
    padding: 0;
  }
}

@media (max-width: 499px) {
  .movie-bg {
    height: 71.43rem;
  }
  .movie-bg__filter {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
  }
  .movie_inform__column {
    padding: 0.71rem;
  }
  .movie-title {
    font-size: 1.79rem;
  }
  .movie_inform-buttons {
    order: 3;
    width: 100%;
    display: flex;
    padding-top: 1em;
    justify-content: space-evenly;
  }
  .movie_inform-vote {
    flex-wrap: wrap;
  }
  .movie_inform-youtube {
    order: 2;
  }
  .movie-content__wrapper {
    padding: 0.71rem;
  }
  .review-user {
    flex-direction: column;
    word-break: break-word;
  }
  .trailers {
    padding: 0;
  }
}
