.header-component {
  width: 100%;
  height: 4.57rem;
  background-color: #032541;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
}

.navigation-link {
  color: #fff;
  font-weight: bold;
  font-size: 1.14rem;
  padding: 0.57rem;
}

.header-container {
  height: 2.86rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2.86rem;
  width: 100%;
}

.header-logo {
  height: 1.43rem;
}

.nav-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-userIcon {
  width: 2.285rem;
  height: 2.285rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(128, 91, 231, 1);
  margin-right: 2.14rem;
  cursor: pointer;
}

.header-userIcon:hover, .header-userIcon:active, .header-userIcon:focus {
  outline: none;
  border: 0;
}

@media screen and (max-width:400px) {
  .header-container {
    padding: 0px 0.714rem;
  }
  .header-logo {
    height: 1.07rem;
  }
  .header-userIcon{
    margin-right: 0.36rem;
  }
  .navigation-link{
    padding: 0.286rem;
  }
}
