.header-component {
  width: 100%;
  height: 64px;
  background-color: #032541;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
}

.navigation-link {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
}

.header-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  width: 100%;
}

.header-logo {
  height: 20px;
}

.nav-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-userIcon {
  width: 32px;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(128, 91, 231, 1);
  margin-right: 30px;
  cursor: pointer;
}

.header-userIcon:hover, .header-userIcon:active, .header-userIcon:focus {
  outline: none;
  border: 0;
}

@media screen and (max-width:400px) {
  .header-container {
    padding: 0px 10px;
  }
  .header-logo {
    height: 15px;
  }
}
