.moviesList{
padding: 2.14rem 0;
max-width: 69.64rem;
width: 100%;
display: flex;
justify-content: space-evenly;
}
.allMovies{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
