.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.login-content__wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.login-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-header{
  font-size: 1.5em;
  margin: 0 0 4px 0;
  font-weight: 600;
}
.login-text{
  color: #292b2c;
  font-size: 16px;
  line-height: 1.5;
}
