.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 1400px;
}

.load-more {
  margin: 10px;
}
